.add-icon{
    display: inline-flex;
    border-radius: 50px;
    padding: 25px;
    background-color:#56E4A7;
    position: absolute;
    bottom: -6%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

.add-icon svg{
    opacity: 30%;
    font-size: 25px;
}